* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    
}

img{
    width:200px;
    
}

.score_Text{
    background-color: #949398FF;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:200px;
    height:200px;
}

.score{
    background-color: #949398FF;
    display:flex;
    justify-content:center;
    gap:300px;
    

}


.buttons{
    background-color : #949398FF;
    display:flex;
    justify-content: center;
    align-items: center;    
}
